*
{
	margin: 0;
	padding: 0;
}

#main
{
	width: 80%;
	margin: 0 auto;
}
header
{
	background: #eeeeee;
	width: 100%;
	float: left;
}
.subheader
{
	float: left;
}
#header1
{
	width: 70%;
}
#header1 img
{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin: 10px 20px;
	float: left;
}
#header1 h1
{
	color: blue;
	float: left;
	margin: 20px 0;
}
#header2
{
	height: 100px;
	width: 30%;
}

@media screen and (max-width: 768px)
{
	#header1, #header2, #header3
	{
		width: 100%;
	}
	#header1 h1
	{
		font-size: 20px;
		margin: 40px auto 0 auto;
	}
}

@media screen and (max-width: 582px)
{
	#header1, #header2, #header3
	{
		width: 100%;
	}
}


nav
{
	background: darkblue;
	width: 100%;
	float: left;
	padding: 10px 0;
}
nav ul
{
	/* 
	list properties
	---------------
	list-style-type: upper-alpha;
	list-style-image: url(arrow.png);
	list-style-position: inside;
	list-style: none;
	*/
	list-style: none;
}
nav ul li
{
	float: left;
	margin: 0 30px;
}
nav ul li a
{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	/*
	background: #000000;
	padding: 5px 10px;
	width: 100px;
	display: block;
	text-align: center;
	*/	
	/* none inline block inline-block flex grid */
	
}

nav ul li ul
{
	background: darkblue;
	position: absolute;
	display: none;
}
nav ul li ul li
{
	float: none;
	margin: 5px;
}

nav ul li:hover > ul
{
	display: block;
}


#slider
{
	background: grey;
	height: 300px;
	width: 100%;
	float: left;
}
#slider img
{
	height: 300px;
	width: 100%;
}

#display
{
	width: 100%;
	float: left;
	display: flex;
}
.subdisplay
{
	background: yellow;
	height: 280px;
	width: 30%;
}
.subdisplay:nth-child(2)
{
	margin: 0 5%;
}

footer
{
	background: darkblue;
	height: 30px;
	width: 100%;
	float: left;
}
footer p
{
	color: #ffffff;
	text-align: center;
	margin: 5px auto;
}
